In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn

In [6]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z'])

In [7]:
df

          W         X         Y         Z
A -0.981312  2.854186 -0.867664  0.464549
B -1.649050 -1.357050 -0.205019  0.276337
C  0.847949  1.401675 -1.758419  0.066553
D  0.244302  0.066007 -0.846044  0.525563
E -0.394880 -1.563112 -0.265559  0.738181

In [8]:
df['W']

A   -0.981312
B   -1.649050
C    0.847949
D    0.244302
E   -0.394880
Name: W, dtype: float64

In [11]:
df[['W','Z']]

          W         Z
A -0.981312  0.464549
B -1.649050  0.276337
C  0.847949  0.066553
D  0.244302  0.525563
E -0.394880  0.738181

In [9]:
df.loc['A']

W   -0.981312
X    2.854186
Y   -0.867664
Z    0.464549
Name: A, dtype: float64

In [10]:
df.iloc[0]

W   -0.981312
X    2.854186
Y   -0.867664
Z    0.464549
Name: A, dtype: float64

In [12]:
df['new'] = df['W'] + 5

In [13]:
df

          W         X         Y         Z       new
A -0.981312  2.854186 -0.867664  0.464549  4.018688
B -1.649050 -1.357050 -0.205019  0.276337  3.350950
C  0.847949  1.401675 -1.758419  0.066553  5.847949
D  0.244302  0.066007 -0.846044  0.525563  5.244302
E -0.394880 -1.563112 -0.265559  0.738181  4.605120

In [14]:
df.drop('new', axis=1, inplace=True)

In [15]:
df

          W         X         Y         Z
A -0.981312  2.854186 -0.867664  0.464549
B -1.649050 -1.357050 -0.205019  0.276337
C  0.847949  1.401675 -1.758419  0.066553
D  0.244302  0.066007 -0.846044  0.525563
E -0.394880 -1.563112 -0.265559  0.738181

In [17]:
df.loc['A','W']

-0.98131204717066522

In [18]:
df.loc[['A','B'], ['W','X']]

          W         X
A -0.981312  2.854186
B -1.649050 -1.357050